<a routerLink="/login">Login</a>

<input type="text" tabindex="1" [(ngModel)]="searchedKeyword" />

<button (click)="onLoadVideosClick()">Load Videos</button>

<router-outlet></router-outlet>

<div #videoPanel class="container-block" tabindex="2" *ngIf="searchedVideos" (scroll)="onContainerScroll($event)">
    <div class="row flex-nowrap">
        <div class="card card-block" *ngFor="let video of searchedVideos" [style.min-width.px]="columnWidthInPx"
            [style.min-height.px]="columnHeightInPx" (click)="onVideoClick(video.id)">
            <img class="card-img-top" [src]="video.thumbnailUrl" [alt]="video.title">
            <div class="card-body">
                <h5 class="card-title">{{ video.title }}</h5>
            </div>
        </div>
    </div>
</div>